@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    background-image: url(../image/bg-repeat.jpg);
    background-size:contain;
}

body {
    font-family: "Roboto";
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.conteudo {
    width: 1100PX;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 11px 50px;
}

.conteudo .pergunta {
    width: 420px;
    height: 222px;
    color: #fff;
}

.conteudo .pergunta .titulo {
    font-size: 2.9rem;
    font-weight: 900;
    margin-bottom: 10px;
    width: 420px;
}

.conteudo .pergunta p {
    font-size: 22px;
    font-weight: 400;
}

.conteudo .formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 480px;
    height: 500px;
    margin-left: 100px;
    padding: 0 20px;
    border-radius: 4px;
}

.conteudo .formulario ul .campo .area {
    font-size: 15px;
    font-weight: 700;
    width: 425px;
    height: 35px;
    border: 2px solid ;
    border-radius: 5px;
    margin-bottom: 1px;
    margin-top: 18px;
    padding-left: 8px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
}

.conteudo .formulario ul .campo.mensagem .area {
    resize: none;
    font-family: "roboto";
    padding-top: 5px;
    height: 115px;
}

.conteudo .formulario .campo .area.preenchido{
    border-color:#009000;
}

.conteudo .formulario .campo .area.naoPreenchido  {
    border: 2px solid #900000;
}

.aviso {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 500;
    color: #900000;
    display: none;
}

.aviso.ativo {
    display: block;
    margin-top: 3px;
    font-size: 12px;
    font-weight: 500;
    color: #900000;
}

.conteudo .formulario .camposObrigatorios {
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}

.conteudo .formulario .btn-enviar {
    margin: 0 auto;
    width: 400px;
    height: 48px;
    border-radius: 5px;
    background-color: #008000;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.conteudo .formulario .btn-enviar:hover {
    cursor: pointer;
}